@use '../../variables';

.search-wrapper {
    background-color: variables.$black;
    margin: 0 20px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.button-search {
    
    &:hover {
        background-color: variables.$lime !important;
        
        svg {
            fill: variables.$black;
        }
    }

}

.search-field {

    label {
        color: variables.$black;
    }

    fieldset {
        border-color: variables.$black;
        border-width: 2px;
    }

    &:hover fieldset {
        border-color: variables.$lime !important;
        box-shadow: none !important;
        outline: none !important;
    }
}