@use '../../variables';

.navbar {
    
    .logo {
        max-height: 40px;
    }
    
    a {
        color: #fff;
        font-family: variables.$bebas;
        text-decoration: none;
        font-size: 18px;
        letter-spacing: 3px;

        &:hover {
            color: variables.$lime;
        }
    }
    
}